<div class="limiter">

    <div class="container-login100">
        <div class="wrap-login100">
            <form class="login100-form validate-form p-l-55 p-r-55 p-t-178" [formGroup]="resetPassForm" (ngSubmit)="onSubmit()">
                <span class="login100-form-title">
						Reset Password
					</span>

                <div class="wrap-input100 validate-input m-b-16" data-validate = "Please enter password">
                    <input
                            class="input100"
                            type="password"
                            name="pass"
                            placeholder="Password"
                            formControlName="password"
                    >
                    <span class="focus-input100"></span>
                </div>

                <div  *ngIf="password.invalid && (password.dirty || password.touched)">

                    <div *ngIf="password.errors?.required" class="alert alert-danger">
                        Password is required
                    </div>

                    <div *ngIf="password.errors?.minlength" class="alert alert-danger">
                        Password must be 8 characters or more
                    </div>

                </div>

                <div class="wrap-input100 validate-input m-b-16" data-validate = "Please enter password">
                    <input
                            class="input100"
                            type="password"
                            name="repass"
                            placeholder="Retype Password"
                            formControlName="rePassword"
                    >
                    <span class="focus-input100"></span>
                </div>

                <div  *ngIf="rePassword.invalid && (rePassword.dirty || rePassword.touched)">

                    <div *ngIf="rePassword.errors?.required" class="alert alert-danger">
                        Retype password is required
                    </div>

                </div>

                <div *ngIf="(rePassword.dirty || rePassword.touched) && rePassword.valid && resetPassForm.errors?.passwordNotMatch" class="alert alert-danger">
                    Password do not match
                </div>

                <div class="container-login100-form-btn flex-col-c p-t-40 p-b-40" >
                    <button class="login100-form-btn btn btn-success " [disabled]="resetPassForm.invalid || isLoading">
                        <span *ngIf="isLoading" class="spinner-border m-5" role="status">
                            <span class="sr-only">Loading...</span>
                        </span>
                        Reset Password
                    </button>
                </div>

            </form>
        </div>
    </div>
</div>

<notifier-container></notifier-container>

<!--===============================================================================================-->
<script src="../../shared/authpagestyle/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
<script src="../../shared/authpagestyle/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
<script src="../../shared/authpagestyle/vendor/bootstrap/js/popper.js"></script>
<script src="../../shared/authpagestyle/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
<script src="../../shared/authpagestyle/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
<script src="../../shared/authpagestyle/vendor/daterangepicker/moment.min.js"></script>
<script src="../../shared/authpagestyle/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
<script src="../../shared/authpagestyle/vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
<script src="../../shared/authpagestyle/js/main.js"></script>
