<div class="card">
    <div class="card-header">
        <h4 class="card-title"> Choose template </h4>
    </div>
    <div class="card-body">

    </div>
</div>
<div class="card">
    <div class="card-header">
        <h4 class="card-title"> Filling Information </h4>
    </div>
    <div class="card-body document-card-container">
        <button
                class="btn btn-primary btn-round"
                (click)="exportAsPDF('document-invitation');"
                style="width: 200px"
        >
            <i class="fa fa-download"></i>
            Download
        </button>
        <div *ngIf="content" [innerHTML]="content" id="document-invitation"></div>
    </div>
</div>
