<div class="card">
    <div class="card-header">
        <h4 class="card-title"> Choose template </h4>
    </div>
    <div class="card-body">
        <form>
            <div class="row">
                <div class="col-md-5 pr-1">
                    <div class="form-group">
                        <label for="choosing-template"> Choosing Your Template </label>
                        <select
                                [(ngModel)]="recentTemplate"
                                (ngModelChange)="ngChangeTemplate()" class="custom-select"
                                id="choosing-template" [disabled]="!isNew"
                                [ngModelOptions]="{standalone: true}"
                        >
                            <option [value]="null">
                                ---
                            </option>
                            <option *ngFor="let template of listTemplate | async" [ngValue]="template">
                                {{template.templateName}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="col-md-5 pr-1">
                    <div class="form-group">
                        <label for="template-name"> Document Name </label>
                        <input type="text" class="form-control" id="template-name" [(ngModel)]="documentName"
                               [ngModelOptions]="{standalone: true}"/>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="card">
    <div class="card-header">
        <h4 class="card-title"> Filling Information </h4>
        <span *ngIf="isLoading" class="spinner-border m-5" role="status">
            <span class="sr-only">Loading...</span>
        </span>
    </div>
    <div class="card-body document-card-container">

        <form [formGroup]="informationForm">
            <div class="row">
                <div class="col-md-5 pr-1">
                    <div class="form-group">
                        <label for="inviter-name">Invited Person Name</label>
                        <input id="inviter-name" type="text" class="form-control" placeholder="Name"
                               formControlName="name">
                    </div>
                </div>

                <div class="col-md-5 pr-1">
                    <div class="form-group">
                        <label for="invited-position">Invited Position</label>
                        <input id="invited-position" type="text" class="form-control" placeholder="Position"
                               formControlName="position">
                    </div>
                </div>

                <div class="col-md-5 pr-1">
                    <div class="form-group">
                        <label for="inviter-gender"> Gender </label>
                        <select id="inviter-gender" class="form-control" formControlName="gender">
                            <option value="0"> Male</option>
                            <option value="1"> Female</option>
                        </select>
                    </div>
                </div>

                <div class="col-md-5 pr-1">
                    <div class="form-group">
                        <label for="form-exchange"> Form of Meeting </label>
                        <input id="form-exchange" type="text" class="form-control" placeholder="Form of Exchange"
                               formControlName="formOfExchange">
                    </div>
                </div>

                <div class="col-md-5 pr-1">
                    <div class="form-group">
                        <label for="meeting-place"> Place of Meeting </label>
                        <input id="meeting-place" type="text" class="form-control" placeholder="Place of Meeting"
                               formControlName="place">
                    </div>
                </div>

                <div class="col-md-5 pr-1">
                    <div class="form-group">
                        <label for="meeting-time"> Meeting Time </label>
                        <input id="meeting-time" type="text" class="form-control" placeholder="Time"
                               formControlName="time">
                    </div>
                </div>

                <div class="col-md-5 pr-1">
                    <div class="form-group">
                        <label for="support-person"> Support Person </label>
                        <input id="support-person" type="text" class="form-control" placeholder="Support Person"
                               formControlName="supportPerson">
                    </div>
                </div>

                <div class="col-md-5 pr-1">
                    <div class="form-group">
                        <label for="cts-represent"> Cts Represent </label>
                        <input id="cts-represent" type="text" class="form-control" placeholder="Cts Represent"
                               formControlName="ctsRepresent">
                    </div>
                </div>

                <div class="col-md-5 pr-1">
                    <div class="form-group">
                        <label for="attention-information"> Attention Information </label>
                        <input id="attention-information" type="text" class="form-control"
                               placeholder="Attention Information" formControlName="attentionInfo">
                    </div>
                </div>


                <div class="col-md-12 pr-1">
                    <a class="btn btn-primary" [routerLink]="['/document-management']">
                        <i class="fa fa-backward"></i>
                        Back
                    </a>
                    <button type="button" class="btn btn-primary" (click)="onSubmit()">
                        <i class="fa fa-cogs"></i>
                        Generate
                    </button>
                    <button
                            class="btn btn-primary"
                            (click)="exportAsPDF('document-invitation');"
                            style="width: 200px"
                    >
                        <i class="fa fa-download"></i>
                        Download
                    </button>
                    <button
                            type="button" class="btn btn-secondary"
                            (click)="ngOnSave()"
                            [disabled]="isLoading"
                    >
                        <i *ngIf="isLoading" class='fa fa-spinner fa-spin '></i>
                        <i *ngIf="!isLoading" class="fa fa-save"></i>
                        Save
                    </button>
                </div>

            </div>
        </form>
        <div *ngIf="content" [innerHTML]="content" id="document-invitation"></div>
    </div>
</div>
